<button class="navbar-show-close z-2 d-lg-none" id="nv_bt" (click)="expand()" [class.border-transparent]="nav_check">
      <div class=" position-relative inner-show">
        <span class="navbar-bt-icon" [class.left-x]="nav_check"></span>
        <span class="navbar-bt-icon" [class.d-none]="nav_check"></span>
        <span class="navbar-bt-icon" [class.rigth-x]="nav_check"></span>
      </div>
</button>

<nav class="navbar z-1" [class.expand]="nav_check">
  <div class="container-fluid">
    <a class="navbar-brand text-capitalize text-wrap d-none d-lg-block text-start w-100" >Company name</a>
    <div class="w-100">
      <div class="navbar-nav d-flex flex-column w-100 " [class.mt-5]="nav_check">
        <a class="nav-link text-capitalize" *ngFor="let tap of taps" routerLink="{{tap.page}}" routerLinkActive="active" (click)="expand()">{{tap.page}}</a>
      </div>
    </div>
  </div>
</nav>
