<section class="sec designer">
  <h1 class="sec-head">Designers.</h1>
  <p>The best team in the world.</p>
  <p>
    We are lorem ipsum consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <p class=" fw-bold">Our designers are thoughtfully chosen:</p>
  <div class="row">
    <div class="col-md-4 col-sm-12 mb-3 p-2">
      <div class="team">
        <img src="../../assets/images/team2.jpg" alt="">
          <div class="text-contnet px-2">
              <h3>John Doe</h3>
              <p class=" opacity-25">CEO & Founder</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3 p-2">
      <div class="team">
        <img src="../../assets/images/team1.jpg" alt="">
          <div class="text-contnet px-2">
              <h3>John Doe</h3>
              <p class=" opacity-25">CEO & Founder</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3 p-2">
      <div class="team">
        <img src="../../assets/images/team3.jpg" alt="">
          <div class="text-contnet px-2">
              <h3>John Doe</h3>
              <p class=" opacity-25">CEO & Founder</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          </div>
      </div>
    </div>
  </div>
</section>
