
.sec-page{
    margin-left: 340px;
    margin-right: 40px;
}
.sec-spe{
  min-height: 100svh;
}
@media (max-width:991px) {
  .sec-page{
    margin-left: 40px;

  }
}
@media (max-width:769px) {
  .sec-page{
    margin-left: 10px;
    margin-right: 10px;
  }
}
